@charset "UTF-8";
/*Includes*/
/*Colors*/
/*Fonts*/
@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@font-face {
  font-family: SfCompact;
  src: url("E:úITWSemstralni_projektSocketsocket_appstaticsf-compact-display-thin.otf");
}

/*Font size on mobile*/
/*iPhone X,XS*/
/*iPad*/
/*Global settings*/
* {
  margin: 0;
  padding: 0;
}

.outer-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.left {
  width: 30%;
  height: 100vh;
  background: rgba(232, 80, 91, 0.95);
  overflow-x: hidden;
}

.left .illustration {
  height: auto;
  width: 140%;
  margin-top: 40%;
}

.right {
  width: 70%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.right h1 {
  color: #161516;
  font-size: 45px;
  font-family: "Archivo", sans-serif;
}

.right input {
  height: 50px;
  width: 500px;
  border-radius: 8px;
  border: 1px solid #cccccc;
  font-size: 17px;
  padding: 0px 15px 0px 15px;
}

.right input:focus {
  outline-width: 0;
}

.right #id_blue, .right #id_red, .right #id_orange, .right #id_yellow, .right #id_green {
  height: 30px;
  width: 30px;
  margin-right: 10px;
  -webkit-appearance: none;
  border-radius: 30%;
  border: 0px;
}

.right #id_blue:hover, .right #id_red:hover, .right #id_orange:hover, .right #id_yellow:hover, .right #id_green:hover {
  cursor: pointer;
}

.right #id_blue {
  background: rgba(0, 122, 255, 0.2);
}

.right #id_blue:checked {
  background: #007aff;
}

.right #id_red {
  background: rgba(255, 45, 85, 0.2);
}

.right #id_red:checked {
  background: #ff2d55;
}

.right #id_orange {
  background: rgba(255, 149, 0, 0.2);
}

.right #id_orange:checked {
  background: #ff9500;
}

.right #id_yellow {
  background: rgba(132, 12, 192, 0.2);
}

.right #id_yellow:checked {
  background: #840CC0;
}

.right #id_green {
  background: rgba(52, 199, 89, 0.2);
}

.right #id_green:checked {
  background: #34c759;
}

.right textarea {
  height: 100px;
  width: 500px;
  border-radius: 8px;
  border: 1px solid #cccccc;
  padding: 15px;
  resize: none;
  font-family: "Archivo", sans-serif;
}

.right textarea:focus {
  outline-width: 0;
}

.right p {
  font-family: "Archivo", sans-serif;
  margin-top: 40px;
  margin-bottom: 15px;
}

.right .btn-area {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.right .btn-area #create-btn {
  background: rgba(232, 80, 91, 0.95);
  color: white;
  width: 240px;
  border: 0px;
}

.right .btn-area #create-btn:hover {
  cursor: pointer;
}

.right .btn-area a {
  text-decoration: none;
}

.right .btn-area a .button-go-back {
  background: #e6e6e6;
  border-radius: 8px;
  height: 50px;
  width: 240px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 60px;
}

.right .btn-area a .button-go-back .cancel {
  text-align: center;
  color: #777777;
  font-family: "Archivo", sans-serif;
  margin: 0px;
  padding: 0px;
}

/*Mobile responsive design.. size: max-600px*/
@media (max-width: 649px) {
  .outer-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .left {
    display: none;
  }
  .right {
    width: 100%;
    height: 100vh;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    overflow-x: hidden;
  }
  .right h1 {
    margin-top: 10%;
    font-size: 28px;
  }
  .right input {
    height: 45px;
    width: 300px;
  }
  .right textarea {
    height: 80px;
    width: 300px;
  }
  .right p {
    margin-top: 35px;
    margin-bottom: 15px;
  }
  .right .btn-area {
    margin-top: 30px;
  }
  .right .btn-area #create-btn {
    width: 150px;
  }
  .right .btn-area a .button-go-back {
    width: 150px;
    margin-right: 30px;
  }
}

/*iPhone 5/5S/SE, Galaxy Fold.. size: 280-325px*/
@media (max-width: 325px) and (min-width: 280px) {
  .right input {
    height: 45px;
    width: 250px;
  }
  .right textarea {
    height: 80px;
    width: 250px;
  }
  .right p {
    margin-top: 30px;
    margin-bottom: 15px;
  }
  .right .btn-area {
    margin-top: 30px;
  }
  .right .btn-area #create-btn {
    width: 130px;
  }
  .right .btn-area a .button-go-back {
    width: 130px;
    margin-right: 30px;
  }
}

/*iPad*/
@media (max-width: 1020px) and (min-width: 650px) {
  .outer-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .left {
    display: none;
    /*
    height: 30vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .illustration{
      width: 60%;
      height: 100%;
      margin-top: 0;
    }
    */
  }
  .right {
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
  }
  .right h1 {
    font-size: 40px;
  }
}

/*iPad Pro*/
@media (max-width: 1300px) and (min-width: 1000px) {
  .outer-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .left {
    display: none;
    /*
    height: 30vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .illustration{
      width: 60%;
      margin-top: 0;
    }
    */
  }
  .right {
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
  }
  .right h1 {
    font-size: 45px;
  }
}
/*# sourceMappingURL=task-form.css.map */